//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

// Colors

// Primary

$DarkViolet: hsl(256, 30%, 21%);
$mainGreen: #007500;
$brightRed: #c5372e;
$paleRed: #c5382e81;
$white: #fff;

// Neutral#1c191e

$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkMode: hsl(270, 9%, 13%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);